@media screen and (max-width: 600px) {
  #logo h1 {
    font-weight: 800;
    font-size: 1.375rem;
  }
  nav {
    width: 90%;
  }
  nav > ul {
    display: none;
  }
  #menu {
    display: block;
  }

  .explore {
    width: 80%;
  }
  .explore-title {
    font-size: 1.375rem;
  }
  .explore-description {
    width: 90%;
  }
  .explore-btn {
    flex-direction: column;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
  }
}
